<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/chat/room1">WebChat</a>
        </div>
        <ul class="navbar-nav justify-content-end" style="margin-right: 75px !important;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <%= username %>
                </a>
                <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/users/logout">Log out</a></li>
                    <li><a class="dropdown-item" href="/modify">Modify Password</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>