<!DOCTYPE html>
<html lang="en">
<head>
    <title>Modify password</title>
    <%- include head %>
</head>
<body>
<%- include('bar',{}) %>
<div class="container-fluid" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h1>Modify Password</h1>
                    <form action="/users/modify" method="post" role="form">
                        <div class="mb-3">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control" id="username" name="username"
                                   disabled="disabled" value="<%= username %>">
                        </div>
                        <div class="mb-3">
                            <label for="password">New Password: </label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Please input password">
                        </div>
                        <div class="mb-3">
                            <label for="password">Re-password: </label>
                            <input type="password" class="form-control" id="repassword" name="repassword"
                                   placeholder="Please input password again">
                            <span id="tip"></span></input>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Modify">
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
</body>