<!DOCTYPE html>
<html>
<head>
    <title>WebChat</title>
    <%- include head %>
</head>
<body style="overflow:auto;background-color: dimgrey">
<%- include('bar',{}) %>
<main style="height: 88vh;background-color: white">
    <div class="album py-5 bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="flex-shrink-0 p-3 bg-white">
                                <p class="fs-5 fw-semibold">Dear <%= username %> !</p>
                                <p style="color: gray">Welcome to WebChat</p>
                                <ul class="list-unstyled ps-0">
                                    <li class="mb-1">
                                        <button class="btn btn-toggle align-items-center rounded collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#home-collapse"
                                                aria-expanded="true">
                                            Public Chat
                                        </button>
                                        <div class="collapse show" id="home-collapse">
                                            <div class="card-body border">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <% chatname.map(function (item, index){ %>
                                                        <li><a href="/chat/room<%= item.num %>"
                                                               class="link-dark rounded"><%= item.chatname %></a></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h1>Public chat room<%= room %></h1>
                                    </div>
                                    <h4 class="border"></h4>
                                    <div class="card-body" id="chat" style="height: 60vh; overflow: auto;">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="chatmsg"
                                            style="font-size: initial">

                                            <li>
                                                <table>
                                                    <% chat.map(function (item, index){ %>
                                                        <thead>
                                                        <tr>
                                                            <th><%= item.from %></th>
                                                            <%
                                                                var eventTime = item.time.toISOString();
                                                                eventTime = eventTime.replace(/T/g, " ")
                                                                eventTime = eventTime.slice(0, -5)
                                                                // console.log(eventTime)
                                                            %>
                                                            <td>&nbsp;
                                                                <%= eventTime %>
                                                            </td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <td>&nbsp;&nbsp;<%= item.message %></td>
                                                        </tbody>
                                                    <% }) %>
                                                </table>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="card-body" style="background-color: gainsboro">
                                        <form action="/chat/send" method="post" role="form">
                                            <div class="input-group mb-3">
                                                <input type="text" id="room" name="room" value="<%= room %>"
                                                       style="display: none">
                                                <input type="text" class="form-control" aria-describedby="button-addon2"
                                                       id="message" name="message">

                                                <button class="btn btn-outline-dark" type="submit" id="send"
                                                        name="send" onclick="send()">
                                                    Send
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
<script>
    // The message shows the initial position at the bottom
    $(document).ready(function () {
        $('#chat').scrollTop($('#chat')[0].scrollHeight)
    })

    var socket = io('http://localhost:3000/');

    socket.emit('sendd', 1)

    socket.on('reload', function () {
        location.reload()
    })

    setInterval(function () {
        $("#chatmsg").load(location.href + " #chatmsg")
    }, 1000);
</script>