<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <%- include head %>
  </head>
  <body>
    <h1><%= username %></h1>
    <p>Welcome to <%= username %></p>
  </body>
</html>
<script>
</script>
