<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include head %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <h1>WebChat Login</h1>
                    <form action="/users/login" method="post" role="form">
                        <div class="mb-3">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Please input username">
                        </div>
                        <div class="mb-3">
                            <label for="password">Password: </label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Please input password">
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Login">
                        </div>
                    </form>
                    <div>No account yet? <a href="/register">Register</a> NOW!</div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
